/* Resetowanie stylów */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Globalne style */
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }
  
  /* .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  } */

  .container {
    /* position: relative;
    z-index: 1;
    text-align: center;
    color: #fff;
    padding-top: 150px; */

    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }  
  
  /* Stylizacja nagłówka */
  header {
    background-color: #f8f8f8;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
  }

  .navbar-brand img {
    max-height: 170px; /* Dostosuj wielkość logo do swoich preferencji */
    margin-right: 10px; /* Dodaj odpowiedni margines, aby oddzielić logo od napisu */
  }
  
  .navbar-brand {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  
  .navbar-nav .nav-link {
    color: #333;
    margin-right: 10px;
    transition: color 0.3s;
  }
  
  .navbar-nav .nav-link:hover {
    color: #f00; /* Kolor po najechaniu */
  }
  
  /* Stylizacja baneru */
  /* .banner {
    background-image: url('path/to/banner-image.jpg');
    background-size: cover;
    background-position: center;
    height: 400px;
  } */
  /* Stylizacja sekcji "Baner" */
.banner {
    position: relative;
    height: 400px;
    overflow: hidden;
  }
  
  .banner-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  
  .banner-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, #f00, #ff0); /* Gradient z czerwieni do żółtego */
    opacity: 0.8; /* Przezroczystość gradientu */
  }
  
  
  
  .banner-heading {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .banner-text {
    font-size: 24px;
  }
  
  /* Animacja dla sekcji "Baner" */
  .banner .overlay {
    animation: gradientAnimation 10s ease infinite;
  }
  
  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  
  /* Stylizacja sekcji "O nas" */
  .about {
    padding: 50px 0;
  }
  
  .about h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #f00; /* Kolor nagłówka */
  }
  
  .about p {
    font-size: 18px;
    color: #666;
  }
  
  /* Stylizacja sekcji "Oferta" */
  .services {
    padding: 50px 0;
    background-color: #f8f8f8;
  }
  
  .services h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #f00; /* Kolor nagłówka */
  }
  
  .service {
    text-align: center;
    padding: 20px;
  }
  
  .service img {
    max-width: 100%;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  
  .service h3 {
    font-size: 24px;
    color: #333;
  }
  
  .service p {
    color: #666;
  }
  
  /* Stylizacja sekcji "Galeria" */
  .gallery {
    padding: 50px 0;
  }
  
  .gallery h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #f00; /* Kolor nagłówka */
  }
  
  .gallery-item img {
    max-width: 100%;
  }
  
  /* Stylizacja sekcji "Opinie klientów" */
  .testimonials {
    padding: 50px 0;
    background-color: #f8f8f8;
  }
  
  .testimonials h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #f00; /* Kolor nagłówka */
  }
  
  .testimonial {
    text-align: center;
    padding: 20px;
  }
  
  .testimonial img {
    max-width: 80px;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  
  .testimonial p {
    font-style: italic;
    color: #666;
  }
  
  .testimonial h4 {
    font-size: 20px;
    color: #333;
  }
  
  /* Stylizacja sekcji "Cennik" */
  .pricing {
    padding: 50px 0;
  }
  
  .pricing h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #f00; /* Kolor nagłówka */
  }
  
  .price-item h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
  }
  
  .price-item p {
    color: #666;
  }
  
  /* Stylizacja sekcji "Zespół" */
  .team {
    padding: 50px 0;
    background-color: #f8f8f8;
  }
  
  .team h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #f00; /* Kolor nagłówka */
  }
  
  .team-member {
    text-align: center;
    padding: 20px;
  }
  
  .team-member img {
    max-width: 100%;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  
  .team-member h3 {
    font-size: 24px;
    color: #333;
  }
  
  .team-member p {
    color: #666;
  }
  
  /* Stylizacja sekcji "Lokalizacja" */
  .location {
    padding: 50px 0;
  }
  
  .location h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #f00; /* Kolor nagłówka */
  }
  
  .map {
    height: 300px;
    /* Dodaj odpowiedni kod dla stylizacji mapy */
  }
  
  .address {
    color: #666;
  }
  
  .address h3 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
  }
  
  /* Stylizacja sekcji "Kontakt" */
  .contact {
    padding: 50px 0;
  }
  
  .contact h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #f00; /* Kolor nagłówka */
  }
  
  .contact-info {
    text-align: center;
  }
  
  .contact-image {
    max-width: 100%;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  
  .contact h3 {
    font-size: 24px;
    color: #333;
  }
  
  .contact p {
    color: #666;
  }

  .contact form {
    max-width: 500px;
    margin: 0 auto;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  textarea.form-control {
    resize: none;
  }
  
  .btn {
    padding: 10px 20px;
    background-color: #f00; /* Kolor przycisku */
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #a00; /* Kolor przycisku po najechaniu */
  }
  
  /* Stylizacja stopki */
  .footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }
  
  .footer p {
    margin-bottom: 0;
  }
  
  
  